In [48]:
import pandas as pd

In [49]:
# read xlsx file into pandas data frame
dataframe = pd.read_excel("data/IMDB_movies_data.xlsx")

In [50]:
# print out the df
dataframe

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [51]:
def find_invalid_release(df):
    range = (0,2024)
    df["Released_Year"] = pd.to_numeric(df["Released_Year"], errors='coerce')
    valid = df[(df['Released_Year'] > range[0]) & (df['Released_Year'] <= range[1])]
    
    if valid.shape[0] != df.shape[0]:
        print("Number of invalid released years: ", df.shape[0] - valid.shape[0])
        return valid
    else:
        print("No invalid released year found.")

In [52]:
def find_invalid_runtime(df):
    df["Runtime"] = pd.to_numeric(df["Runtime"].str.replace(' min', ''), errors='coerce')
    valid = df[(df["Runtime"] > 0)]
    
    if valid.shape[0] != df.shape[0]:
        print("Number of invalid runtime: ", df.shape[0] - valid.shape[0])
        return valid
    else:
        print("No invalid runtime found.")

In [53]:
def find_empty_rows(df):
    valid = df.dropna(how='any')
    
    if valid.shape[0] != df.shape[0]:
        print("Number of empty rows with at least one empty column:", df.shape[0] - valid.shape[0])
        return valid
    else:
        print("All rows are complete.")

In [54]:
def find_duplicate_rows(df):
    print("Number of duplicate rows found: ", df.duplicated().sum())
    df.drop_duplicates()

In [55]:
find_duplicate_rows(dataframe)

years_result = find_invalid_release(dataframe)
if years_result is not None:
    dataframe = years_result
    
runtime_result = find_invalid_runtime(dataframe)
if runtime_result is not None:
    dataframe = runtime_result
    
empty_rows_result = find_empty_rows(dataframe)
if empty_rows_result is not None:
    dataframe = empty_rows_result

Number of duplicate rows found:  0
Number of invalid released years:  1
No invalid runtime found.
Number of empty rows with at least one empty column: 286

/var/folders/5w/cdql6gcx42d6fnqq17_q_q9c0000gn/T/ipykernel_1473/2751709059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Runtime"] = pd.to_numeric(df["Runtime"].str.replace(' min', ''), errors='coerce')

In [56]:
print(dataframe)

                                           Poster_Link  \
0    https://m.media-amazon.com/images/M/MV5BMDFkYT...
1    https://m.media-amazon.com/images/M/MV5BM2MyNj...
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    https://m.media-amazon.com/images/M/MV5BMWMwMG...
4    https://m.media-amazon.com/images/M/MV5BMWU4N2...
..                                                 ...
990  https://m.media-amazon.com/images/M/MV5BYjRmY2...
991  https://m.media-amazon.com/images/M/MV5BMzAyND...
992  https://m.media-amazon.com/images/M/MV5BMjAwMT...
994  https://m.media-amazon.com/images/M/MV5BZjQyMG...
997  https://m.media-amazon.com/images/M/MV5BM2U3Yz...

                 Series_Title  Released_Year Certificate  Runtime  \
0    The Shawshank Redemption         1994.0           A      142
1               The Godfather         1972.0           A      175
2             The Dark Knight         2008.0          UA      152
3      The Godfather: Part II         1974.0           A      202
4                12 Angry Men         1957.0           U       96
..                        ...            ...         ...      ...
990              Giù la testa         1971.0          PG      157
991            Kelly's Heroes         1970.0          GP      144
992           The Jungle Book         1967.0           U       78
994        A Hard Day's Night         1964.0           U       87
997     From Here to Eternity         1953.0      Passed      118

                            Genre  IMDB_Rating  \
0                           Drama          9.3
1                    Crime, Drama          9.2
2            Action, Crime, Drama          9.0
3                    Crime, Drama          9.0
4                    Crime, Drama          9.0
..                            ...          ...
990           Drama, War, Western          7.6
991        Adventure, Comedy, War          7.6
992  Animation, Adventure, Family          7.6
994        Comedy, Music, Musical          7.6
997           Drama, Romance, War          7.6

                                              Overview  Meta_score  \
0    Two imprisoned men bond over a number of years...        80.0
1    An organized crime dynasty's aging patriarch t...       100.0
2    When the menace known as the Joker wreaks havo...        84.0
3    The early life and career of Vito Corleone in ...        90.0
4    A jury holdout attempts to prevent a miscarria...        96.0
..                                                 ...         ...
990  A low-life bandit and an I.R.A. explosives exp...        77.0
991  A group of U.S. soldiers sneaks across enemy l...        50.0
992  Bagheera the Panther and Baloo the Bear have a...        65.0
994  Over two "typical" days in the life of The Bea...        96.0
997  In Hawaii in 1941, a private is cruelly punish...        85.0

                 Director           Star1             Star2            Star3  \
0          Frank Darabont     Tim Robbins    Morgan Freeman       Bob Gunton
1    Francis Ford Coppola   Marlon Brando         Al Pacino       James Caan
2       Christopher Nolan  Christian Bale      Heath Ledger    Aaron Eckhart
3    Francis Ford Coppola       Al Pacino    Robert De Niro    Robert Duvall
4            Sidney Lumet     Henry Fonda       Lee J. Cobb    Martin Balsam
..                    ...             ...               ...              ...
990          Sergio Leone     Rod Steiger      James Coburn     Romolo Valli
991       Brian G. Hutton  Clint Eastwood     Telly Savalas      Don Rickles
992   Wolfgang Reitherman     Phil Harris   Sebastian Cabot      Louis Prima
994        Richard Lester     John Lennon    Paul McCartney  George Harrison
997        Fred Zinnemann  Burt Lancaster  Montgomery Clift     Deborah Kerr

                Star4  No_of_Votes        Gross
0      William Sadler      2343110   28,341,469
1        Diane Keaton      1620367  134,966,411
2       Michael Caine      2303232  534,858,444
3        Diane Keaton      1129952   57,300,000
4        John Fiedler       689845    4,360,000
..                ...          ...          ...
990       Maria Monti        30144       696.69
991  Carroll O'Connor        45338    1,378,435
992  Bruce Reitherman       166409  141,843,612
994       Ringo Starr        40351   13,780,024
997        Donna Reed        43374   30,500,000

[713 rows x 16 columns]